* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

/* styling for header */

header {
  width: 100%;
  height: 140px;
  background-color: #404041;
  text-align: center;
  position: relative;
}

.number-title {
  color: #DD1970;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: lighter;
  margin-bottom: -13px;
  padding-top: 10px;
}

header h3 {
  font-size: 20px;
  font-weight: lighter;
  color: white;
  text-transform: uppercase;
  padding-top: 10px
}

hr {
  position: absolute;
  top: 102px;
}

#left-line {
  left: 467px;
  width: 6.2%
}

#right-line {
  right: 460px;
  width: 6.5%;
}

/* start of column1 styling */

.column1 {
  width: 50%;
  height: 100vh;
  background-color: #f7f7f7;
  border: 1px solid red;
}


.column1-container {
  border: 1px solid blue;
  background-color: white;
  margin: 25px;
}

.challenger1,
.challenger2 {
  border: 1px solid green;
}

.challenger-buttons {
  border: 1px solid green;
}

.challenger1-guess,
.challenger2-guess {
  border: 1px solid yellow;
}
